.App {
    min-height: 100vh;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono', monospace;
}

input {
    color: #00474B;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
    padding: 26px;
    background-color: white;
    border-radius: 10px;
}

.main-wrapper > .box {
    flex: 1;
}

.tip__amount__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tip__form {
    padding-right: 30px;
}

.tip__result {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 26px;
    background-color: #00474B;
    border-radius: 14px;
    box-sizing: border-box;
}
 
@media screen and (max-width: 1200px) {
    .main-wrapper {
        width: 75%;
    }
}

@media screen and (max-width: 992px) {
    .main-wrapper {
        flex-direction: column;
    }

    .box:first-child {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .main-wrapper {
        width: 90%;
        padding: 16px;
    }

    .tip__form {
        padding-right: 0px;
    }
}
